<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Ambert</title>
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
</head>


<body>

<header class = "site-header">

  <b>
    <a href="{{ '/' | url }}">
      Francesca Reynolds
    </a>
  </b>

  <br>

  <a href="{{ '/about/' | url }}">
    About
  </a><br>

  <a href="{{ '/porfolio/' | url }}">
    Portfolio & CV
  </a><br>

  <a href="{{ '/contact/' | url }}">
    Contact
  </a>

  <img src={{ '/Logo.png' | url }} alt="logo" class = "header-logo">

</header>

  {{ content | safe }}

  <script src="{{ '/js/preview.js' | url }}"></script>

  

</body>

</html>
