<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Ambert</title>
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
</head>


<body>

<header>

  <b>
    <a href="{{ '/' | url }}">
      Francesca Reynolds
    </a>
  </b>

  <br>

  <a href="{{ '/about/' | url }}">
    About
  </a>

  <a href="{{ '/porfolio/' | url }}">
    Portfolio & CV
  </a>

  <a href="{{ '/contact/' | url }}">
    Contact
  </a>

  <img src="logo.png" alt="logo" style="float: right; margin-left: 15px; width: 300px;">

</header>

  {{ content | safe }}

  <script src="{{ '/js/preview.js' | url }}"></script>

  

</body>

</html>
